h1 {
      font-size: 30px;
      background: -webkit-linear-gradient(#000000, #B0C4DE);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-family: sans-serif;
    }

h2 {
      font-size: 20px;
      background: -webkit-linear-gradient(#000000, #B0C4DE);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-family: sans-serif;
    }

